.projects-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-top: 2rem;    
}

.card-container {
    max-width: 80%;
}

.card {
    margin: 4rem;
    border: none;
}

.card-content {
    width: 100%;
    display: flex;
    background-color: rgba(248, 243, 213, 0.842);
}

.card img {
    width: 50%;
    object-fit: cover;
    /* margin-inline-end: 2rem; */
}

.card-body {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 2rem;
    
}

.card-body a {
    color: black;
    background-color: rgb(255, 166, 0);
    font-size: 0.9rem;
}

.card-body a:hover {
    background-color: rgb(255, 166, 0);
}

/* smaller screens, make the card content stack on top of each other */
@media(max-width: 768px) {
    .card-content {
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 100%;
        margin: 0;
    }

    .card-body {
        width: 100%;
    }

    .card {
        margin: 2rem;
    }
}