.card-container {
    max-width: 100%;
}

.card {
    margin: 4rem;
}

.card-content {
    width: 100%;
    display: flex;
}

.card img {
    width: 50%;
    object-fit: cover;
    margin-inline-end: 2rem;
}

.card-body {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 2rem;
    
}

/* smaller screens, make the card content stack on top of each other */
@media(max-width: 900px) {
    .card-content {
        flex-direction: column;
        align-items: center;
    }

    .card img {
        width: 100%;
        margin: 0;
    }

    .card-body {
        width: 100%;
    }

    .card {
        margin: 2rem;
    }
}