

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 2rem 2rem 5rem 2rem;
}

.nav-item {
    margin-left: 1rem;
    padding: 0.2rem 1rem 0.2rem 1rem;
    border-radius: 20%;
    background-color: red;
}

.navbar a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    color: black;
}

.name-title {
    color: rgb(22, 22, 83);
    font-size: 2.3rem;
    font-weight: 800;
}

/* smaller screens, make the card content stack on top of each other */
@media(max-width: 992px) {
    .nav-buttons {
        display: flex !important;
        flex-direction: column !important;
        align-items: center;
    }

    .nav-item {
        margin-bottom: 0.2rem;
    }

    .navbar a {
        font-size: 1rem;
    }
}